{% load static %}
{% load i18n %}
{% include 'link & script.html' %}
{% include 'header.html' %}
{% block main %}
<style>

</style>
<div class="tm-main-section light-gray-bg">
  <div class="container" id="main">
    <section class="tm-section tm-section-margin-bottom-0 row">
      <div class="col-lg-12 tm-section-header-container">
        <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="{% static 'media/img/logo.png' %}" alt="Logo" class="tm-site-logo"> Cafe wood</h2>
        <div class="tm-hr-container"><hr class="tm-hr"></div>
      </div>
      <div class="row tm-welcome-content">
        <p class="tm-welcome-description">{% trans "Cafe Wood is a place where the pleasant aroma of coffee is combined with the warmth of wood in a special atmosphere. This is a place to relax, get inspired and create a memorable moment. At Choub Cafe, we have tried to create an atmosphere that is pleasant for friendly conversations, business meetings, and lonely moments with a cup of drink." %}</p>
        <p class="tm-welcome-description">{% trans "The decoration of the cafe has been formed by focusing on the use of natural elements and warm and friendly design to give you a feeling of relaxation and positive energy. We believe that details matter; From the arrangement of the tables to the choice of music and lighting, everything is carefully designed to create a different and enjoyable experience for you." %}</p>
      </div>
    </section>
    <section class="tm-section tm-section-margin-bottom-0 row">
      <div class="col-lg-12 tm-section-header-container">
        <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="{% static 'media/img/logo.png' %}" alt="Logo" class="tm-site-logo"> Website</h2>
        <div class="tm-hr-container"><hr class="tm-hr"></div>
      </div>
      <div class="row tm-welcome-content">
        <p class="tm-welcome-description">{% trans "The Wood Cafe website is the way to communicate with you more easily and closer. On our website, you can view a variety of drinks, desserts and snacks, find out about the latest news and special events, and easily find yourself when you want. There is also a section for your comments and suggestions so that we can do our services better every day with your help." %}</p>
      </div>
    </section>
    <section class="tm-section tm-section-margin-bottom-0 row">
      <div class="col-lg-12 tm-section-header-container">
        <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="{% static 'media/img/logo.png' %}" alt="Logo" class="tm-site-logo"> Staff</h2>
        <div class="tm-hr-container"><hr class="tm-hr"></div>
      </div>
      <div class="row tm-welcome-content">
        <p class="tm-welcome-description">{% trans "The staff of Wood Cafe is a team of professional, friendly and energetic people who will do their best to create great moments for you. From warm and friendly hospitality to providing the highest quality food and drinks, we are always committed to providing the best service." %}</p>
        <p class="tm-welcome-description">{% trans "" %}</p>
      </div>
    </section>
    <section class="tm-section tm-section-margin-bottom-0 row">
      <div class="col-lg-12 tm-section-header-container">
        <h2 class="tm-section-header gold-text tm-handwriting-font"><img src="{% static 'media/img/logo.png' %}" alt="Logo" class="tm-site-logo"> Goals</h2>
        <div class="tm-hr-container"><hr class="tm-hr"></div>
      </div>
      <div class="row tm-welcome-content">
        <p class="tm-welcome-description">{% trans "We believe that every moment can be special and beautiful. Our goal is to create a space where life can be felt in the true sense; A place where you can get away from the hustle and bustle of everyday life and experience peace. We are waiting for you to spend happy and memorable moments with us at Choub Cafe." %}</p>
      </div>
    </section>
  </div>
</div>
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/templatemo-script.js' %}"></script>
{% endblock main %}
{% include 'footer.html' %}
