{% load static %}
{% load i18n %}
{% block header %}
<style>
  .tm-top-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.tm-top-header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  }
  .form {
    display: flex;
    align-items: center;
    padding: 18px 0 0 20px;
  }
  .flag-iran {
    width: 20px;
    height: 15px;
    border-radius: 5px;
    margin-right: 5px;
  }
  .flag-uk {
    width: 20px;
    height: 15px;
    border-radius: 5px;
    margin-right: 5px;
  }
  .tm-welcome-section{
    margin-top: 70px;
  }
</style>
<div id="loader-wrapper">
  <div id="loader"></div>
  <div class="loader-section section-left"></div>
  <div class="loader-section section-right"></div>
</div>
<!-- End Preloader -->
<div class="tm-top-header">
  <div class="container">
    <div class="row">
      <div class="tm-top-header-inner">
        <div class="tm-logo-container">
          <img src="{% static 'media/img/logo.png' %}" alt="Logo" class="tm-site-logo">
          <h1 class="tm-site-name tm-handwriting-font">{% trans "Cafe Wood" %}</h1>
        </div>
        <div class="mobile-menu-icon">
          <i class="fa fa-bars"></i>
        </div>
        <nav class="tm-nav">
          <ul>
            <li><a href="index.html">{% trans "Home" %}</a></li>
            <li><a href="http://127.0.0.1:8000/admin/">{% trans "Admin" %}</a></li>
            <li><a href="{% url 'menu' %}">{% trans "Menu" %}</a></li>
            <li><a href="#">{% trans "Cart" %}</a></li>
            <li><a href="#">{% trans "Order list" %}</a></li>
            <li>
              <form action="{% url 'set_language' %}" method="post" class="form">
                {% csrf_token %}
                  <img src="{% static 'media/Iran.png' %}" class="flag-iran" style="cursor: pointer;" onclick="changeLanguage('fa')">
                  <img src="{% static 'media/English.png' %}" class="flag-uk" style="cursor: pointer;" onclick="changeLanguage('en')">
              </form>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<section class="tm-welcome-section">
  <div class="container tm-position-relative">
    <div class="tm-lights-container">
      <img src="{% static 'media/img/light.png' %}" alt="Light" class="light light-1">
      <img src="{% static 'media/img/light.png' %}" alt="Light" class="light light-2">
      <img src="{% static 'media/img/light.png' %}" alt="Light" class="light light-3">
    </div>
    <div class="row tm-welcome-content">
      <h2 class="white-text tm-handwriting-font tm-welcome-header"><img src="{% static 'media/img/header-line.png' %}" alt="Line" class="tm-header-line">&nbsp;{% trans "Welcome To" %}&nbsp;&nbsp;<img src="{% static 'media/img/header-line.png' %}" alt="Line" class="tm-header-line"></h2>
      <h2 class="gold-text tm-welcome-header-2">{% trans "Cafe Wood" %}</h2>
      <p class="gray-text tm-welcome-description">{% trans "With a dreamy view in a dreamy environment in the coziest cafe in Tehran, a beautiful facing and a pleasant atmosphere from the terrace of the<span class='gold-text'> wood cafe</span>, the beautiful sunset, which is painted with purple and orange colors, It will take you to the party of the stars." %}</p>
      <a href="#main" class="tm-more-button tm-more-button-welcome">{% trans "Details" %}</a>
    </div>
    <img src="{% static 'media/img/table-set.png' %}" alt="Table Set" class="tm-table-set img-responsive">
  </div>
</section>
<script>
  function changeLanguage(language) {
    var form = document.createElement('form');
    form.action = '{% url "set_language" %}';
    form.method = 'post';
    var languageInput = document.createElement('input');
    languageInput.type = 'hidden';
    languageInput.name = 'language';
    languageInput.value = language;
    form.appendChild(languageInput);
    var csrfToken = document.createElement('input');
    csrfToken.type = 'hidden';
    csrfToken.name = 'csrfmiddlewaretoken';
    csrfToken.value = '{{ csrf_token }}';
    form.appendChild(csrfToken);
    document.body.appendChild(form);
    form.submit();
  }
</script>
{% endblock header %}