{% load static %}
{% load i18n %}
{% include 'link & script.html' %}
{% include 'header.html' %}
{% block main %}
<div class="tm-main-section light-gray-bg">
  <div class="container" id="main">
    <section class="tm-section row">
      <div class="col-lg-12 tm-section-header-container margin-bottom-30">
        <h2 class="tm-section-header gold-text tm-handwriting-font">
          <img src="{% static 'media/img/logo.png' %}" alt="Logo" class="tm-site-logo"> Our Menus
        </h2>
        <div class="tm-hr-container"><hr class="tm-hr"></div>
      </div>
      <div class="col-lg-3 col-md-3">
        <nav class="tm-side-menu">
          <ul id="category-list">
            <li><a href="#" class="category-link active" data-category="all">{% trans "All" %}</a></li> <!-- افزودن گزینه All -->
            {% for category in categories %}
              <li><a href="#" class="category-link" data-category="{{ category.id }}">{{ category.name }}</a></li>
            {% endfor %}
          </ul>
        </nav>
        <img src="{% static 'media/img/vertical-menu-bg.png' %}" alt="Menu bg" class="tm-side-menu-bg">
      </div>
      <div class="col-lg-9 col-md-9" id="product-container">
        {% for category in categories %}
          <div class="category-menuitem_set" data-category-id="{{ category.id }}" style="display: none;">
            {% for i in category.menuitem_set.all %}
              <div class="tm-product">
                <img src="{{ i.image.url }}" alt="{{ i.image }}" class="img_data">
                <div class="tm-product-text">
                  <h3 class="tm-product-title">{{ i.name }}</h3>
                  <p class="tm-product-description">{{ i.description }}</p>
                </div>
                <div class="tm-product-price">
                  <a href="{% url 'add_to_cart' i.id %}" class="tm-product-price-link tm-handwriting-font">
                    <span class="tm-product-price-currency">t</span>{{ i.price }}
                  </a>
                </div>
              </div>
            {% empty %}
              <p>{% trans "No menuitem_set available for this category." %}</p>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
      <div>
        <a href="{% url 'cart' %}" class="tm-more-button tm-more-button-welcome">{% trans "View shopping cart" %}</a>
      </div>
    </section>
  </div>
</div>
<script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script>
  $(document).ready(function () {
    $(".category-menuitem_set").hide();
    $(".category-menuitem_set").first().show(); // نمایش اولین دسته‌بندی به صورت پیش‌فرض

    $("#category-list .category-link").click(function (e) {
      e.preventDefault(); // جلوگیری از رفتار پیش‌فرض لینک
      var categoryId = $(this).data("category"); // گرفتن ID کتگوری

      $(".category-menuitem_set").hide(); // مخفی کردن همه محصولات
      if (categoryId === "all") {
        $(".category-menuitem_set").show(); // نمایش همه آیتم‌ها
      } else {
        $("[data-category-id='" + categoryId + "']").show(); // نمایش محصولات کتگوری کلیک‌شده
      }

      $("#category-list .category-link").removeClass("active"); // حذف کلاس active از همه لینک‌ها
      $(this).addClass("active"); // اضافه کردن کلاس active به لینک کلیک‌شده
    });
  });
</script>
<script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/templatemo-script.js' %}"></script>
{% endblock main %}
{% include 'footer.html' %}
